@if(students){
<div class="container p-4">
    <div class="row g-4">   
        @for(student of students ; track student.id){
            <div class="col-lg-4">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                    <h5 class="card-title">{{student.name}}</h5>
                    <p class="card-text">{{student.email}}</p>
                    <a routerLink="/student-detials/{{student.id}}" class="card-link">Show Details</a>
                    </div>  
                </div>
            </div>
        }
    </div>
</div>
<span class="material-symbols-outlined add" routerLink="/student-add">add_circle</span>
}
@else{
    <span class="material-symbols-outlined add" routerLink="/">add_circle</span>
    <div class="d-flex align-items-center">
        <strong>Loading...</strong>
        <div class="spinner-border ms-auto" role="status" aria-hidden="true"></div>
      </div>
}
